.spans-table-view {
  width: 100%;
  height: 100%;
}

.spans-table-view .tabulator {
  font-size: inherit;
}

.spans-table-view .tabulator-col-title {
  color: #000;
  line-height: 1.5;
}

.spans-table-view .tabulator-header {
  border-bottom-color: #ddd;
}

.spans-table-view .tabulator-row .tabulator-cell:last-of-type {
  border-right: 1px solid #ddd;
}

.spans-table-view
  .tabulator-col.tabulator-sortable[aria-sort='none']
  .tabulator-arrow {
  display: none;
}

.spans-table-view
  .tabulator-col.tabulator-sortable[aria-sort='asc']
  .tabulator-col-title,
.spans-table-view
  .tabulator-col.tabulator-sortable[aria-sort='desc']
  .tabulator-col-title {
  text-decoration: underline;
}

.spans-table-view .tabulator .tabulator-tableHolder .tabulator-table {
  color: #777;
}

.spans-table-view .tabulator-row.tabulator-selectable:hover {
  background: #f3f3f3;
}

.spans-table-view .tabulator-row.tabulator-selected,
.spans-table-view .tabulator-row.tabulator-selected:hover {
  background: #e5f0ff;
}

.spans-table-tag {
  background: #d0e2f2;
  color: #7988b1;
  padding: 1px 3px;
  margin: 0 3px 0 10px;
  font-weight: 500;
  border-radius: 2px;
}

.spans-table-tag:first-child {
  margin-left: 0;
}

.spans-table-value {
}
