/* Handsontable */
.logs-currentRow {
  background-color: #F9F9FB !important;
}

.logs-other-field {
  /* Force single line */
  /* white-space: nowrap !important; */
}

.logs-other-field-key {
  background: #D0E2F2;
  color: #7988B1;
  padding: 1px 3px;
  margin: 0 3px 0 10px;
  font-weight: 500;
  border-radius: 2px;
}

.logs-other-field-key:first-child {
  margin-left: 0;
}

.logs-other-field-value {

}
