.timeline-wrapper {
  height: 100%;
}

/* Adjustments */
.timeline-toolbar-button.span-coloring svg {
  height: 1.5em;
  position: relative;
  top: 0.2em;
}
.timeline-toolbar-button.group-layout svg { height: 1.4em; }
