.datasource-form-modal-content {
  padding: 10px;
  width: 400px;
}

.datasource-form-modal-content .buttons {
  display: flex;
  margin-top: 1.5em;
}

.datasource-form-modal-content .buttons .left {
  flex-grow: 1;
}

.datasource-form-modal-content .buttons .right .test {
  margin-right: 5px;
}

.datasource-form-modal-content .form-container h2 {
  margin: 0.25em 0 1em 0;
}

.datasource-form-modal-content .form-row {
  display: flex;
  margin: 0.5em 0;
  align-items: center;
}

.datasource-form-modal-content .form-row > div {
  width: 145px;
  margin: 0 0.5em;
  text-align: right;
}

.datasource-form-modal-content .form-row.base-url > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.datasource-form-modal-content .form-row.base-url svg {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  position: relative;
  top: 1px;
}

.datasource-form-modal-content .form-row input[type='text'],
.datasource-form-modal-content .form-row input[type='password'] {
  flex-grow: 1;
}
