#app-toolbar {
  background: #001529;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.darwin:not(.full-screen) #app-toolbar {
  -webkit-app-region: drag;
  padding-left: 75px;
}

.app-toolbar-pane {
  display: flex;
  align-items: stretch;
}
.app-toolbar-divider {
  display: inline-block;
  width: 5px;
  background: linear-gradient(#e9e9e9, #e9e9e9) no-repeat center/1px 100%;
  opacity: 0.25;
}

.app-toolbar-divider:first-of-type {
  display: none;
}
.darwin:not(.full-screen) .app-toolbar-divider:first-of-type {
  display: inline-block;
}

/* Traces badge count */
.toolbar-traces-badge-count {
  background: #f5222d;
  color: #fff;
  font-size: 1em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 0.75em;
  font-size: 0.9em;
  font-weight: 700;
  top: 0.5em;
  left: 1.75em;
  position: absolute;
  padding: 0 0.5em;
}

/* App toolbar button */
.app-toolbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 0.75em;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
.app-toolbar-button svg {
  height: 1.75em;
  fill: rgba(255, 255, 255, 0.75);
}
.app-toolbar-button.fix-stroke svg {
  stroke: rgba(255, 255, 255, 0.75);
}

/* .app-toolbar-button:hover { background: #F9F9F9; } */
.app-toolbar-button:hover svg {
  fill: #fff;
}
.app-toolbar-button.fix-stroke:hover svg {
  stroke: #fff;
}

/* App toolbar button fine-tuning */
.app-toolbar-button.stage-traces {
  position: relative;
  padding: 0 0.5em;
}
.app-toolbar-button.stage-traces svg {
  height: 1.6em;
}
/* App toolbar button fine-tuning */
.app-toolbar-button.clear-stage {
  position: relative;
  padding: 0 0.75em;
}
.app-toolbar-button.clear-stage svg {
  height: 1.7em;
}

/* Data sources menu header */
.toolbar-data-sources-menu-header {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  margin-bottom: 0.25em;
  justify-content: space-between;
  padding: 0.45em 0.75em 0.15em 0.75em;
  align-items: center;
  min-width: 200px;
}
.toolbar-data-sources-menu-header span {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #fff;
}
.toolbar-data-sources-menu-header svg {
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.75);
}
.toolbar-data-sources-menu-header svg:hover {
  fill: #fff;
}

/* Data sources menu empty */
.toolbar-data-sources-menu-empty {
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.toolbar-data-sources-menu-empty .heading {
  font-weight: 600;
}

.toolbar-data-sources-menu-empty .description {
  font-size: 0.8em;
  margin: 0 3em;
  text-align: center;
}

.toolbar-data-sources-menu-empty .description svg {
  width: 1.2em;
  height: 1.5em;
  position: relative;
  top: 4px;
  fill: #fff;
}

/* Override so hard */
.tippy-tooltip.app-toolbar-menu-list-theme > .tippy-content > div.popconfirm {
  padding: 0.5em 0.75em;
}

.tippy-tooltip.app-toolbar-menu-list-theme
  > .tippy-content
  > div.popconfirm
  > .text {
  white-space: nowrap;
}

.popconfirm button {
  margin-top: 3px;
  width: 100%;
}
