#app-toolbar {
  background: #001529;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.app-toolbar-pane { display: flex; align-items: stretch; }
.app-toolbar-divider {
  display: inline-block;
  width: 5px;
  background: linear-gradient(#E9E9E9, #E9E9E9) no-repeat center/1px 100%;
  opacity: 0.25;
}

/* Traces badge count */
.toolbar-traces-badge-count {
  background: #f5222d;
  color: #fff;
  font-size: 1em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 0.75em;
  font-size: 0.9em;
  font-weight: 700;
  top: 0.5em;
  left: 1.75em;
  position: absolute;
  padding: 0 0.5em;
}

/* App toolbar button */
.app-toolbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 0.75em;
  cursor: pointer;
}
.app-toolbar-button svg { height: 1.75em; fill: rgba(255, 255, 255, 0.75); }
.app-toolbar-button.fix-stroke svg { stroke: rgba(255, 255, 255, 0.75); }

/* .app-toolbar-button:hover { background: #F9F9F9; } */
.app-toolbar-button:hover svg { fill: #fff; }
.app-toolbar-button.fix-stroke:hover svg { stroke: #fff; }

/* App toolbar button fine-tuning */
.app-toolbar-button.search svg { height: 1.9em; position: relative; top: 1px; }
.app-toolbar-button.traces { position: relative; }
.app-toolbar-button.traces svg { height: 1.6em; }

/* Data sources menu header */
.toolbar-data-sources-menu-header {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  margin-bottom: 0.25em;
  justify-content: space-between;
  padding: 0.45em 0.75em 0.15em 0.75em;
  align-items: center;
}
.toolbar-data-sources-menu-header span {
 font-size: 0.75em;
 text-transform: uppercase;
 color: #fff;
}
.toolbar-data-sources-menu-header svg {
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.75);
}
.toolbar-data-sources-menu-header svg:hover {
  fill: #fff;
}

/* Data sources menu empty */
.toolbar-data-sources-menu-empty {
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.toolbar-data-sources-menu-empty .heading {
  font-weight: 600;
}

.toolbar-data-sources-menu-empty .description {
  font-size: 0.8em;
  margin: 0 3em;
  text-align: center;
}

.toolbar-data-sources-menu-empty .description svg {
  width: 1.2em;
  height: 1.5em;
  position: relative;
  top: 4px;
  fill: #fff;
}

/* Traces menu list empty indicator */
.toolbar-traces-menu-empty {
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.toolbar-traces-menu-empty .heading {
  font-weight: 600;
}

.toolbar-traces-menu-empty .description {
  font-size: 0.8em;
  margin: 0.5em 1.7em;
  text-align: center;
}

.toolbar-traces-menu-empty .description svg {
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 2px;
  fill: #fff;
}

/* Custom tippy.js tooltip template */
.tippy-tooltip.toolbar-tooltip-theme {
  font-size: 1em;
}
