/* Custom tippy.js tooltip template */
.tippy-tooltip.app-toolbar-menu-list-theme > .tippy-content > div {
  padding: 0 0 0.3em 0;
}
.tippy-tooltip.app-toolbar-menu-list-theme > .tippy-content > div > .app-toolbar-menu-list-item {
  font-size: 1em;
  line-height: 2em;
  padding: 0.25em 0.75em 0 0.75em;
  display: flex;
  align-items: center;
}
.tippy-tooltip.app-toolbar-menu-list-theme .app-toolbar-menu-list-item .text {
  flex-grow: 1;
  /* Prevent line-break and hide text overflow */
  overflow: hidden;
  white-space: nowrap;
}
.tippy-tooltip.app-toolbar-menu-list-theme .app-toolbar-menu-list-item > div {
  padding-left: 1em;
  display: inline-flex;
}
.tippy-tooltip.app-toolbar-menu-list-theme .app-toolbar-menu-list-item .button {
  cursor: pointer;
  display: inline-flex;
}
.tippy-tooltip.app-toolbar-menu-list-theme .app-toolbar-menu-list-item .button svg {
  height: 1.3em;
}
.tippy-tooltip.app-toolbar-menu-list-theme .app-toolbar-menu-list-item svg { fill: rgba(255, 255, 255, 0.75); }
.tippy-tooltip.app-toolbar-menu-list-theme .app-toolbar-menu-list-item .button:hover svg { fill: #fff; }
