/* Custom tippy.js tooltip template */
.tippy-tooltip.toolbar-menu-theme {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: #fff;
}
.tippy-tooltip.toolbar-menu-theme[data-placement^='top'] > .tippy-arrow {
  border-width: 8px 8px 0;
  border-top-color: #fff;
}
.tippy-tooltip.toolbar-menu-theme[data-placement^='bottom'] > .tippy-arrow {
  border-width: 0 8px 8px;
  border-bottom-color: #fff;
}
.tippy-tooltip.toolbar-menu-theme[data-placement^='left'] > .tippy-arrow {
  border-width: 8px 0 8px 8px;
  border-left-color: #fff;
}
.tippy-tooltip.toolbar-menu-theme[data-placement^='right'] > .tippy-arrow {
  border-width: 8px 8px 8px 0;
  border-right-color: #fff;
}
.tippy-tooltip.toolbar-menu-theme > .tippy-backdrop {
  background-color: #fff;
}
.tippy-tooltip.toolbar-menu-theme > .tippy-svg-arrow {
  fill: #fff;
}
.tippy-tooltip.toolbar-menu-theme > .tippy-content {
  padding: 0;
}
/* Really-custom ones */
.tippy-tooltip.toolbar-menu-theme > .tippy-content > div {
  padding: 0.6em 0;
}
.tippy-tooltip.toolbar-menu-theme > .tippy-content > div > .toolbar-menu-divider {
  height: 1em;
  background: linear-gradient(#d0d0d0, #d0d0d0) no-repeat center/100% 1px;
}
.tippy-tooltip.toolbar-menu-theme > .tippy-content > div > .toolbar-menu-item {
  font-size: 1em;
  line-height: 2em;
  padding: 0 0.75em;
}
.tippy-tooltip.toolbar-menu-theme .toolbar-menu-item:hover { color: #fff; background: #2B97EF; }
.tippy-tooltip.toolbar-menu-theme .toolbar-menu-item.selected { color: #fff; background: #2B97EF; }
.tippy-tooltip.toolbar-menu-theme .toolbar-menu-item.selected:hover { background: #288bdb; }
.tippy-tooltip.toolbar-menu-theme .toolbar-menu-item.disabled { cursor: default; color: #D9D9D9; }
.tippy-tooltip.toolbar-menu-theme .toolbar-menu-item.disabled:hover { background: none; }
