/* Custom tippy.js tooltip template */
.tippy-tooltip.toolbar-menu-list-theme {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: #fff;
}
.tippy-tooltip.toolbar-menu-list-theme[data-placement^='top'] > .tippy-arrow {
  border-width: 8px 8px 0;
  border-top-color: #fff;
}
.tippy-tooltip.toolbar-menu-list-theme[data-placement^='bottom'] > .tippy-arrow {
  border-width: 0 8px 8px;
  border-bottom-color: #fff;
}
.tippy-tooltip.toolbar-menu-list-theme[data-placement^='left'] > .tippy-arrow {
  border-width: 8px 0 8px 8px;
  border-left-color: #fff;
}
.tippy-tooltip.toolbar-menu-list-theme[data-placement^='right'] > .tippy-arrow {
  border-width: 8px 8px 8px 0;
  border-right-color: #fff;
}
.tippy-tooltip.toolbar-menu-list-theme > .tippy-backdrop {
  background-color: #fff;
}
.tippy-tooltip.toolbar-menu-list-theme > .tippy-svg-arrow {
  fill: #fff;
}
.tippy-tooltip.toolbar-menu-list-theme > .tippy-content {
  padding: 0;
}
/* Really-custom ones */
.tippy-tooltip.toolbar-menu-list-theme > .tippy-content > div {
  padding: 0 0 0.6em 0;
}
.tippy-tooltip.toolbar-menu-list-theme > .tippy-content > div > .toolbar-menu-list-item {
  font-size: 1em;
  line-height: 2em;
  padding: 0 0.75em;
  display: flex;
  align-items: center;
}
.tippy-tooltip.toolbar-menu-list-theme .toolbar-menu-list-item .text {
  flex-grow: 1;
}
.tippy-tooltip.toolbar-menu-list-theme .toolbar-menu-list-item > div {
  padding-left: 5em;
  display: inline-flex;
}
.tippy-tooltip.toolbar-menu-list-theme .toolbar-menu-list-item .button {
  cursor: pointer;
  display: inline-flex;
}
.tippy-tooltip.toolbar-menu-list-theme .toolbar-menu-list-item .button svg {
  height: 1.3em;
}
.tippy-tooltip.toolbar-menu-list-theme .toolbar-menu-list-item svg { fill: rgba(0, 0, 0, 0.5); }
.tippy-tooltip.toolbar-menu-list-theme .toolbar-menu-list-item .button:hover svg { fill: #2B97EF; }
