.traces-table-view {
  width: 100%;
  height: 100%;
}

.traces-table-view .tabulator {
  font-size: inherit;
}

.traces-table-view .tabulator-col-title {
  color: #000;
  line-height: 1.5;
}

.traces-table-view .tabulator-header {
  border-bottom-color: #ddd;
}

.traces-table-view .tabulator-col:last-of-type {
  border-right: 0;
}

.traces-table-view .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-arrow {
  display: none;
}

.traces-table-view .tabulator-col.tabulator-sortable[aria-sort="asc"] .tabulator-col-title,
.traces-table-view .tabulator-col.tabulator-sortable[aria-sort="desc"] .tabulator-col-title {
  text-decoration: underline;
}

.traces-table-view .tabulator .tabulator-tableHolder .tabulator-table {
  color: #777;
}

.traces-table-view .tabulator-row.tabulator-selectable:hover {
  background: #f3f3f3;
}

.traces-table-view .tabulator-row.tabulator-selected,
.traces-table-view .tabulator-row.tabulator-selected:hover {
  background: #e5f0ff;
}

.traces-table-tag {
  background: #D0E2F2;
  color: #7988B1;
  padding: 1px 3px;
  margin: 0 3px 0 10px;
  font-weight: 500;
  border-radius: 2px;
}

.traces-table-tag:first-child {
  margin-left: 0;
}

.traces-table-value {

}
