.span-process-tags {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.span-process-tags .widget-toolbar {
  padding: 4px;
}

.span-process-tags .content-container {
  flex-grow: 1;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 1em;
}

.span-process-tags .content-message {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.span-process-tags .content-message svg {
  width: 2.5em;
  height: 2.5em;
  fill: #ccc;
}

.span-process-tags .content-message span {
  color: #ccc;
  margin-top: 0.5em;
  font-weight: 600;
}

.span-process-tags .content-container .key-value-row {
  display: flex;
  line-height: 1.7em;
}

.span-process-tags .content-container .key-value-row:nth-child(even) {
  background: #f6f6f6;
}

.span-process-tags .content-container .key-value-row .key {
  flex-grow: 1;
  user-select: text;
}

.span-process-tags .content-container .key-value-row .value {
  user-select: text;
  text-align: right;
  word-break: break-all;
}

.span-process-tags .content-container .key-value-row .bold {
  font-weight: 600;
}

.span-process-tags .content-container .key-value-row.error {
  color: rgba(255, 0, 0, 0.85);
}

.span-process-tags .input-with-svg-icon-container {
  flex-grow: 1;
}

.span-process-tags .input-with-svg-icon-container input {
  width: 100%;
}
