/* Custom tippy.js tooltip template */
.tippy-tooltip.widget-toolbar-multi-select-theme {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: #fff;
}
.tippy-tooltip.widget-toolbar-multi-select-theme[data-placement^='top'] > .tippy-arrow {
  border-width: 8px 8px 0;
  border-top-color: #fff;
}
.tippy-tooltip.widget-toolbar-multi-select-theme[data-placement^='bottom'] > .tippy-arrow {
  border-width: 0 8px 8px;
  border-bottom-color: #fff;
}
.tippy-tooltip.widget-toolbar-multi-select-theme[data-placement^='left'] > .tippy-arrow {
  border-width: 8px 0 8px 8px;
  border-left-color: #fff;
}
.tippy-tooltip.widget-toolbar-multi-select-theme[data-placement^='right'] > .tippy-arrow {
  border-width: 8px 8px 8px 0;
  border-right-color: #fff;
}
.tippy-tooltip.widget-toolbar-multi-select-theme > .tippy-backdrop {
  background-color: #fff;
}
.tippy-tooltip.widget-toolbar-multi-select-theme > .tippy-svg-arrow {
  fill: #fff;
}
.tippy-tooltip.widget-toolbar-multi-select-theme > .tippy-content {
  padding: 0;
}
/* Really-custom ones */
.tippy-tooltip.widget-toolbar-multi-select-theme > .tippy-content > div {
  padding: 0.6em 0;
}
.tippy-tooltip.widget-toolbar-multi-select-theme > .tippy-content > div > .item-divider {
  height: 1em;
  background: linear-gradient(#d0d0d0, #d0d0d0) no-repeat center/100% 1px;
}
.tippy-tooltip.widget-toolbar-multi-select-theme > .tippy-content > div > .item {
  font-size: 1em;
  line-height: 2em;
  padding: 0 0.75em;
  display: flex;
  align-items: center;
}
.tippy-tooltip.widget-toolbar-multi-select-theme .item svg {
  height: 1.3em;
  margin-right: 0.3em;
}
.tippy-tooltip.widget-toolbar-multi-select-theme .item .text {
  margin-right: 1em;
}
.tippy-tooltip.widget-toolbar-multi-select-theme .item:hover { color: #fff; background: #2B97EF; }
.tippy-tooltip.widget-toolbar-multi-select-theme .item:hover svg { fill: #fff; }
.tippy-tooltip.widget-toolbar-multi-select-theme .item.selected { color: #fff; background: #2B97EF; }
.tippy-tooltip.widget-toolbar-multi-select-theme .item.selected svg { fill: #fff; }
.tippy-tooltip.widget-toolbar-multi-select-theme .item.selected:hover { background: #288bdb; }
.tippy-tooltip.widget-toolbar-multi-select-theme .item.disabled { cursor: default; color: #D9D9D9; }
.tippy-tooltip.widget-toolbar-multi-select-theme .item.disabled svg { fill: #D9D9D9; }
.tippy-tooltip.widget-toolbar-multi-select-theme .item.disabled:hover { background: none; }

/* Go go go */
.widget-toolbar-multi-select-search {
  display: block;
  margin: 0 0.6em;
  margin-bottom: 0.6em;
  width: calc(100% - 1.2em);
}

.widget-toolbar-multi-select-search + .widget-toolbar-multi-select-items {
  border-top: 1px solid #ccc;
}

.widget-toolbar-multi-select-items > .empty {
  padding: 0.6em;
  padding-bottom: 0;
}

.widget-toolbar-multi-select-category {
  background: #F9F9F9;
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 0.25em 0.6em;
  font-weight: 600;
}

.widget-toolbar-multi-select-item {
  font-size: 0.9em;
  padding: 0.2em 0.6em;
  cursor: pointer;
}

.widget-toolbar-multi-select-item:before {
  content: '';
  display: inline-block;
  width: 1.25em;
}

.widget-toolbar-multi-select-item:hover {
  color: #fff;
  background: #2B97EF;
}

.widget-toolbar-multi-select-item.selected {
  color: #2B97EF;
}

.widget-toolbar-multi-select-item.selected:hover {
  color: #fff;
}

.widget-toolbar-multi-select-item.selected:before {
  content: '\2713';
}
