.widget-toolbar {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: stretch;
}

.widget-toolbar-pane { display: flex; align-items: stretch; flex-grow: 1; }
.widget-toolbar-pane.middle { justify-content: center; }
.widget-toolbar-pane.right { justify-content: flex-end; }

.widget-toolbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.5em 0.25em;
  cursor: pointer;
}
.widget-toolbar-button svg { height: 1.25em; fill: #595959; }
.widget-toolbar-button.fix-stroke svg { stroke: #595959; }

.widget-toolbar-button:hover { background: #F9F9F9; }
.widget-toolbar-button:hover svg { fill: #000; }
.widget-toolbar-button.fix-stroke:hover svg { stroke: #000; }

.widget-toolbar-button.selected { background: #2B97EF; }
.widget-toolbar-button.selected:hover { background: #288bdb; }
.widget-toolbar-button.selected svg { fill: #fff; }
.widget-toolbar-button.fix-stroke.selected svg { stroke: #fff; }

.widget-toolbar-button.selected-fill svg { fill: #2B97EF; }
.widget-toolbar-button.fix-stroke.selected-fill svg { stroke: #2B97EF; }

.widget-toolbar-button.disabled { cursor: default; }
.widget-toolbar-button.disabled:hover { background: none; }
.widget-toolbar-button.disabled svg { fill: #D9D9D9; }
.widget-toolbar-button.fix-stroke.disabled svg { stroke: #D9D9D9; }

/* Adjustments */
.widget-toolbar-button.span-coloring svg {
  height: 1.5em;
  position: relative;
  top: 2px;
}
.widget-toolbar-button.group-layout svg {
  height: 1.4em;
}

/* Custom tippy.js tooltip template */
.tippy-tooltip.widget-toolbar-menu-theme {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: #fff;
}
.tippy-tooltip.widget-toolbar-menu-theme[data-placement^='top'] > .tippy-arrow {
  border-width: 8px 8px 0;
  border-top-color: #fff;
}
.tippy-tooltip.widget-toolbar-menu-theme[data-placement^='bottom'] > .tippy-arrow {
  border-width: 0 8px 8px;
  border-bottom-color: #fff;
}
.tippy-tooltip.widget-toolbar-menu-theme[data-placement^='left'] > .tippy-arrow {
  border-width: 8px 0 8px 8px;
  border-left-color: #fff;
}
.tippy-tooltip.widget-toolbar-menu-theme[data-placement^='right'] > .tippy-arrow {
  border-width: 8px 8px 8px 0;
  border-right-color: #fff;
}
.tippy-tooltip.widget-toolbar-menu-theme > .tippy-backdrop {
  background-color: #fff;
}
.tippy-tooltip.widget-toolbar-menu-theme > .tippy-svg-arrow {
  fill: #fff;
}
.tippy-tooltip.widget-toolbar-menu-theme > .tippy-content {
  padding: 0;
}
/* Really-custom ones */
.tippy-tooltip.widget-toolbar-menu-theme > .tippy-content > div {
  padding: 0.6em 0;
}
.tippy-tooltip.widget-toolbar-menu-theme > .tippy-content > div > .item-divider {
  height: 1em;
  background: linear-gradient(#d0d0d0, #d0d0d0) no-repeat center/100% 1px;
}
.tippy-tooltip.widget-toolbar-menu-theme > .tippy-content > div > .item {
  font-size: 1em;
  line-height: 2em;
  padding: 0 0.75em;
  display: flex;
  align-items: center;
}
.tippy-tooltip.widget-toolbar-menu-theme .item svg {
  height: 1.3em;
  margin-right: 0.3em;
}
.tippy-tooltip.widget-toolbar-menu-theme .item .text {
  margin-right: 1em;
}
.tippy-tooltip.widget-toolbar-menu-theme .item .alt {
  flex-grow: 1;
  text-align: right;
  padding-left: 3em;
  font-size: 0.75em;
  text-transform: uppercase;
  opacity: 0.85;
}
.tippy-tooltip.widget-toolbar-menu-theme .item:hover { color: #fff; background: #2B97EF; }
.tippy-tooltip.widget-toolbar-menu-theme .item:hover svg { fill: #fff; }
.tippy-tooltip.widget-toolbar-menu-theme .item.selected { color: #fff; background: #2B97EF; }
.tippy-tooltip.widget-toolbar-menu-theme .item.selected svg { fill: #fff; }
.tippy-tooltip.widget-toolbar-menu-theme .item.selected:hover { background: #288bdb; }
.tippy-tooltip.widget-toolbar-menu-theme .item.disabled { cursor: default; color: #D9D9D9; }
.tippy-tooltip.widget-toolbar-menu-theme .item.disabled svg { fill: #D9D9D9; }
.tippy-tooltip.widget-toolbar-menu-theme .item.disabled:hover { background: none; }

