/* Custom tippy.js tooltip template */
.tippy-tooltip.widget-toolbar-select-theme {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: #fff;
}
.tippy-tooltip.widget-toolbar-select-theme[data-placement^='top']
  > .tippy-arrow {
  border-width: 8px 8px 0;
  border-top-color: #fff;
}
.tippy-tooltip.widget-toolbar-select-theme[data-placement^='bottom']
  > .tippy-arrow {
  border-width: 0 8px 8px;
  border-bottom-color: #fff;
}
.tippy-tooltip.widget-toolbar-select-theme[data-placement^='left']
  > .tippy-arrow {
  border-width: 8px 0 8px 8px;
  border-left-color: #fff;
}
.tippy-tooltip.widget-toolbar-select-theme[data-placement^='right']
  > .tippy-arrow {
  border-width: 8px 8px 8px 0;
  border-right-color: #fff;
}
.tippy-tooltip.widget-toolbar-select-theme > .tippy-backdrop {
  background-color: #fff;
}
.tippy-tooltip.widget-toolbar-select-theme > .tippy-svg-arrow {
  fill: #fff;
}
.tippy-tooltip.widget-toolbar-select-theme > .tippy-content {
  padding: 0;
  font-size: 1.1em;
}
/* Really-custom ones */
.tippy-tooltip.widget-toolbar-select-theme > .tippy-content > div {
  padding: 0.6em 0;
}
.tippy-tooltip.widget-toolbar-select-theme
  > .tippy-content
  > div
  > .item-divider {
  height: 1em;
  background: linear-gradient(#d0d0d0, #d0d0d0) no-repeat center/100% 1px;
}
.tippy-tooltip.widget-toolbar-select-theme > .tippy-content > div > .item {
  font-size: 1em;
  line-height: 2em;
  padding: 0 0.75em;
  display: flex;
  align-items: center;
}
.tippy-tooltip.widget-toolbar-select-theme .item svg {
  height: 1.3em;
  margin-right: 0.3em;
}
.tippy-tooltip.widget-toolbar-select-theme .item .text {
  margin-right: 1em;
}
.tippy-tooltip.widget-toolbar-select-theme .item .alt {
  flex-grow: 1;
  text-align: right;
  padding-left: 3em;
  font-size: 0.75em;
  text-transform: uppercase;
  opacity: 0.85;
}
.tippy-tooltip.widget-toolbar-select-theme .item:hover {
  color: #fff;
  background: #2b97ef;
}
.tippy-tooltip.widget-toolbar-select-theme .item:hover svg {
  fill: #fff;
}
.tippy-tooltip.widget-toolbar-select-theme .item.selected {
  color: #fff;
  background: #2b97ef;
}
.tippy-tooltip.widget-toolbar-select-theme .item.selected svg {
  fill: #fff;
}
.tippy-tooltip.widget-toolbar-select-theme .item.selected:hover {
  background: #288bdb;
}
.tippy-tooltip.widget-toolbar-select-theme .item.disabled {
  cursor: default;
  color: #d9d9d9;
}
.tippy-tooltip.widget-toolbar-select-theme .item.disabled svg {
  fill: #d9d9d9;
}
.tippy-tooltip.widget-toolbar-select-theme .item.disabled:hover {
  background: none;
}
