.widget-toolbar {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: stretch;
}

.widget-toolbar-pane { display: flex; align-items: stretch; flex-grow: 1; }
.widget-toolbar-pane.middle { justify-content: center; }
.widget-toolbar-pane.right { justify-content: flex-end; }

.widget-toolbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.5em 0.25em;
  cursor: pointer;
}
.widget-toolbar-button svg { height: 1.25em; fill: #595959; }
.widget-toolbar-button.fix-stroke svg { stroke: #595959; }

.widget-toolbar-button:hover { background: #F9F9F9; }
.widget-toolbar-button:hover svg { fill: #000; }
.widget-toolbar-button.fix-stroke:hover svg { stroke: #000; }

.widget-toolbar-button.selected { background: #2B97EF; }
.widget-toolbar-button.selected:hover { background: #288bdb; }
.widget-toolbar-button.selected svg { fill: #fff; }
.widget-toolbar-button.fix-stroke.selected svg { stroke: #fff; }

.widget-toolbar-button.selected-fill svg { fill: #2B97EF; }
.widget-toolbar-button.fix-stroke.selected-fill svg { stroke: #2B97EF; }

.widget-toolbar-button.disabled { cursor: default; }
.widget-toolbar-button.disabled:hover { background: none; }
.widget-toolbar-button.disabled svg { fill: #D9D9D9; }
.widget-toolbar-button.fix-stroke.disabled svg { stroke: #D9D9D9; }

/* Adjustments */
.widget-toolbar-button.span-coloring svg {
  height: 1.5em;
  position: relative;
  top: 2px;
}
.widget-toolbar-button.group-layout svg {
  height: 1.4em;
}
