.timeline-screen-header {
  height: 64px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline-header-button {
  display: inline-block;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  height: 64px;
  line-height: 68px;
  transition: background .3s;
}

.timeline-header-button > i,
.timeline-header-button > .ant-badge > i {
  font-size: 18px;
}

.timeline-header-button:hover {
  background: rgba(0,0,0,.025);
}

.timeline-sidebar {
  border-left: 1px solid rgb(217, 217, 217);
  overflow-y: auto;
}

.sidebar-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  flex-flow: wrap;
}

.sidebar-row > *:first-child {
  flex-grow: 1;
}

.sidebar-row.mono {
  padding: 2px 5px;
}

.sidebar-row.mono > span:last-child {
  font-family: monospace;
  color: teal;
}

.sidebar-row.even-odd:nth-child(2n+1) {
  background: #f5f5f5;
}

.sidebar-log-panel-higlighted {
  background: #1890ff;
}

.sidebar-log-panel-higlighted > .ant-collapse-header{
  color: #fff !important;
}

svg.timeline-svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#timeline-sidebar-resize-handle {
  position: absolute;
  width: 6px;
  height: 100%;
  right: 0;
  top: 0;
  cursor: col-resize;
}

#timeline-sidebar-resize-handle > div {
  width: 2px;
  height: 100%;
  position: relative;
  left: 2px;
  background: #000;
}
