.timeline-sidebar-toggle {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.timeline-sidebar-toggle:hover {
  color: #1890ff;
}

.timeline-sidebar {
  border-left: 1px solid rgb(217, 217, 217);
  overflow-y: auto;
}

.timeline-sidebar .ant-tabs-nav {
  margin-left: 10px;
}

.sidebar-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  flex-flow: wrap;
}

.sidebar-row > span:first-child {
  flex-grow: 1;
}

.sidebar-row.mono {
  padding: 2px 5px;
}

.sidebar-row.mono > span:last-child {
  font-family: monospace;
  color: teal;
}

.sidebar-row.even-odd:nth-child(2n+1) {
  background: #f5f5f5;
}

svg.timeline-svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#timeline-sidebar-resize-handle {
  position: absolute;
  width: 6px;
  height: 100%;
  right: 0;
  top: 0;
  cursor: col-resize;
}

#timeline-sidebar-resize-handle > div {
  width: 2px;
  height: 100%;
  position: relative;
  left: 2px;
  background: #000;
}
