.jaeger-search-modal-container {
  width: 90%;
  height: 80%;
}

.jaeger-search-modal-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}

.jaeger-search-modal-content .left {
  width: 22em;
  min-width: 22em;
  border-right: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.jaeger-search-modal-content .right {
  flex-grow: 2;
  overflow-y: auto;
}

.jaeger-search-modal-content .left .header {
  font-size: 2.5em;
  font-weight: 600;
  margin: 0.1em 0 0.5em;
}

.jaeger-search-modal-content .left .status {
  margin-left: 0.1em;
}

.jaeger-search-modal-content .left .status svg {
  width: 0.6em;
  height: 0.6em;
}

.jaeger-search-modal-content .left .status.success svg {
  fill: #52c41a;
}

.jaeger-search-modal-content .left .status.error svg {
  fill: #f5222d;
}

.jaeger-search-modal-content .left .search-widget {
  border-radius: 0.3em;
  border: 1px solid #eee;
}

.jaeger-search-modal-content .left .search-widget .title {
  font-weight: 600;
  font-size: 1em;
  background: #eee;
  padding: 0.4em;
}

.jaeger-search-modal-content .left .search-widget form {
  padding: 0.4em;
}

.jaeger-search-modal-content .left .search-by-trace-id form {
  display: flex;
}

.jaeger-search-modal-content .left .search-by-trace-id form input {
  flex-grow: 1;
}

.jaeger-search-modal-content .left .search-widget.search {
  margin-top: 1em;
}

.jaeger-search-modal-content .left .search-widget.search form .field {
  margin-bottom: 1em;
}

.jaeger-search-modal-content .left .search-widget.search form .field-title {
  font-weight: 500;
}

.jaeger-search-modal-content .left .search-widget.search form .field input,
.jaeger-search-modal-content .left .search-widget.search form .field select {
  width: 100%;
  box-sizing: border-box;
}
