.search-form .ant-form-item-label {
  line-height: 20px;
}

.search-form .ant-form-item {
  margin-bottom: 14px;
}

.search-form.ant-form label {
  font-size: 0.8em;
  font-weight: 600;
}

.trace-duration-scatter-plot {
  box-shadow: 0px 6px 0px -6px rgba(0, 0, 0, 0);
  transition: box-shadow 0.25s ease-in-out;
}

.trace-duration-scatter-plot.affixed {
  box-shadow: 0px 6px 22px -6px rgba(0, 0, 0, 0.75);
}

.search-result-item-badge .ant-badge-status-dot {
  width: 7px;
  height: 7px;
}

.search-result-item-body {
  flex-grow: 1;
  padding: 10px;
  position: 'relative';
  border-right: 4px solid transparent;
}

.search-result-item:hover .search-result-item-body,
.search-result-item.highlighted .search-result-item-body {
  background-color: rgba(230, 247, 255, 0.5);
  border-right-color: #1890ff;
}

.search-result-item-add-to-stage > i {
  transition: transform 100ms ease-in-out;
}

.search-result-item-add-to-stage:hover > i {
  transform: scale(1.5);
}

.search-result-item-remove-from-stage > .check {
  display: inline-block;
  transform: scale(1.25);
}

.search-result-item-remove-from-stage > .minus {
  display: none;
  transform: scale(1.25);
}

.search-result-item-remove-from-stage:hover > .check {
  display: none;
}

.search-result-item-remove-from-stage:hover > .minus {
  display: inline-block;
}
