/* Main layout */
#app { width: 100%; height: 100%; }
#app-toolbar {
  height: 3.2em;
}
#app-dock-panel {
  position: absolute;
  top: 3.2em;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5em;
}

/* Drop zone */
#drop-zone {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
}

#drop-zone .border {
  position: absolute;
  border: 5px dashed #ccc;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
}

#drop-zone .overlay-text {
  position: relative; /* This forces to render OVER .border element, because border is absolute positioned */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  color: #333;
}

/* Dock panel related stuff */
.p-Widget {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  cursor: default;
}

.p-Widget.p-mod-hidden {
  display: none !important;
}

.p-DockPanel-overlay {
  background: rgba(255, 255, 255, 0.6);
  border: 1px dashed black;
  transition-property: top, left, right, bottom;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.p-DockPanel {
  z-index: 0;
}

.p-DockPanel-widget {
  z-index: 0;
  background: #fff;
}

.p-DockPanel-tabBar {
  z-index: 1;
}

.p-DockPanel-handle {
  z-index: 2;
}

.p-DockPanel-handle.p-mod-hidden {
  display: none !important;
}

.p-DockPanel-handle:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.p-DockPanel-handle[data-orientation='horizontal'] {
  cursor: ew-resize;
}

.p-DockPanel-handle[data-orientation='vertical'] {
  cursor: ns-resize;
}

.p-DockPanel-handle[data-orientation='horizontal']:after {
  left: 50%;
  min-width: 8px;
  transform: translateX(-50%);
}

.p-DockPanel-handle[data-orientation='vertical']:after {
  top: 50%;
  min-height: 8px;
  transform: translateY(-50%);
}

.p-DockPanel-overlay {
  z-index: 3;
  box-sizing: border-box;
  pointer-events: none;
}

.p-DockPanel-overlay.p-mod-hidden {
  display: none !important;
}

.p-TabBar {
  min-height: 24px;
  max-height: 24px;
}

.p-TabBar-content {
  min-width: 0;
  min-height: 0;
  align-items: flex-end;
}

.p-TabBar-tab {
  padding: 0px 10px;
  background: #E5E5E5;
  flex: 0 1 125px;
  min-height: 20px;
  max-height: 20px;
  min-width: 35px;
  margin-left: -1px;
  line-height: 20px;
}

.p-TabBar-tab.p-mod-current {
  background: white;
}

.p-TabBar-tab:hover:not(.p-mod-current) {
  background: #F0F0F0;
}

.p-TabBar-tab:first-child {
  margin-left: 0;
}

.p-TabBar-tab.p-mod-current {
  min-height: 23px;
  max-height: 23px;
  transform: translateY(1px);
}

.p-TabBar-tabIcon,
.p-TabBar-tabLabel,
.p-TabBar-tabCloseIcon {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.85em;
}

.p-TabBar-tab.p-mod-closable > .p-TabBar-tabCloseIcon {
  margin-left: 4px;
}

.p-TabBar-tab.p-mod-closable > .p-TabBar-tabCloseIcon:before {
  content: '\00d7';
  font-size: 1.5em;
  position: relative;
  top: -2px;
}

.p-TabBar-tab.p-mod-drag-image {
  min-height: 23px;
  max-height: 23px;
  min-width: 125px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateX(-40%) translateY(-58%);
}

.p-TabBar {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-TabBar[data-orientation='horizontal'] {
  flex-direction: row;
}


.p-TabBar[data-orientation='vertical'] {
  flex-direction: column;
}

.p-TabBar-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1 1 auto;
  list-style-type: none;
}

.p-TabBar[data-orientation='horizontal'] > .p-TabBar-content {
  flex-direction: row;
}

.p-TabBar[data-orientation='vertical'] > .p-TabBar-content {
  flex-direction: column;
}

.p-TabBar-tab {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
}

.p-TabBar-tabIcon,
.p-TabBar-tabCloseIcon {
  flex: 0 0 auto;
}

.p-TabBar-tabLabel {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
}

.p-TabBar-tab.p-mod-hidden {
  display: none !important;
}

.p-TabBar.p-mod-dragging .p-TabBar-tab {
  position: relative;
}

.p-TabBar.p-mod-dragging[data-orientation='horizontal'] .p-TabBar-tab {
  left: 0;
  transition: left 150ms ease;
}

.p-TabBar.p-mod-dragging[data-orientation='vertical'] .p-TabBar-tab {
  top: 0;
  transition: top 150ms ease;
}

.p-TabBar.p-mod-dragging .p-TabBar-tab.p-mod-dragging {
  transition: none;
}
