/* Main layout */
#app {
  width: 100%;
  height: 100%;
}
#app-toolbar {
  height: 3.2em;
}
#app-dock-panel {
  position: absolute;
  top: 3.2em;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5em;
}

/* Fix tippy's fixed font-size */
.tippy-tooltip {
  font-size: inherit;
}

/* Drop zone */
#drop-zone {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
}

#drop-zone .border {
  position: absolute;
  border: 5px dashed #ccc;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
}

#drop-zone .overlay-text {
  position: relative; /* This forces to render OVER .border element, because border is absolute positioned */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  color: #333;
}
