/**
 * Just critical styles for initial rendering.
 * This file will be inlided to index.html by webpack (checkout webpack.config.js).
 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

/*
  This disables text/element selection
  https://github.com/electron/electron/issues/2538
 */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  user-select: none;
}
input, button, textarea, :focus {
  outline: none;
}
