<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <%= indexCssInlineStyleTag %>
  </head>
  <body>
    <div id="app">
      <div id="app-toolbar">
        <div class="app-toolbar-pane">
          <div class="app-toolbar-button data-sources"><img inline src="../node_modules/@mdi/svg/svg/database.svg"></div>
          <div class="app-toolbar-button search"><img inline src="../node_modules/@mdi/svg/svg/magnify.svg"></div>
          <div class="app-toolbar-divider"></div>
          <div class="app-toolbar-button traces"><img inline src="../node_modules/@mdi/svg/svg/source-branch.svg"></div>
        </div>
        <div class="app-toolbar-pane"></div>
        <div class="app-toolbar-pane">
            <div class="app-toolbar-button widgets"><img inline src="../node_modules/@mdi/svg/svg/widgets.svg"></div>
            <div class="app-toolbar-button settings"><img inline src="../node_modules/@mdi/svg/svg/settings.svg"></div>
        </div>
      </div>
    </div>

    <div id="initial-loading">
      <div class="spinner"></div>
    </div>
  </body>
</html>
